<h1>Hello, Rails!</h1>

<h2>Main#index</h1>

Go to <a href="/articles">ARTICLES</a>
<h3>Articles#index</h3>
<hr/><br/>

Variables:<br/>
<pre>
  VAR1 = <%= @env_var1 %>
  VAR2 = <%= @env_var2 %>
</pre>